:root {
    --primary-color: #168aad;
    --secondary-color: #76C893;
    --accent1--color: #184E77;
    --accent2-color: #99D98C;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;

}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: var(--body-font);
    color: var(--accent1--color)
}