:root {
    --primary-color: #168aad;
    --secondary-color: #76C893;
    --accent1--color: #184E77;
    --accent2-color: #99D98C;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;

}